// Specific CSS for your home-page
.btn_home {
  color: #121013;
  background-color: #fff;
  border: 1px solid #cdd0cb;
  padding: 20px 20px;
  border-radius: 10px;
  transition: 0.4s;
  font-size: 18px;
  margin-top: 30px;
}

.btn_home:hover {
  color: #fff;
  background-color: #121013;
  border: 1px solid #121013;
  transition: 0.4s;
}

#adopt {
  border-bottom: 5px solid #cdd0cb;
}

.searching {
  margin-top: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  image-rendering: auto;
  padding-top: 100px;
  padding-bottom: 600px;
  width: 100%;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-size: 50px;
  font-family: "Georgia", sans-serif;
  font-weight: lighter;;
}

.banner h2 {
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
  color: #fff;
}

#title {
  margin-bottom: 50px;
}

#phrasing {
  margin-top: 50px;
}

.flexbox {
  display: flex;
  
}