// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  text-align: center;
  padding: 160px 0;
}

.banner h1 {
  margin: 0;
  color: #fff;
  font-size: 46px;
  padding-bottom: 48px;
  font-family: "Times new roman", sans-serif;
}

.banner p {
  font-size: 28px;
  font-weight: ligher;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  text-transform: uppercase;
  color: #121013;
  background-color: #fff;
  padding: 14px 32px;
  margin-top: 80px;
  border-radius: 40px;
  opacity: .9;
  transition: 0.4s;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #121013;
}
