// Specific CSS for your home-page
h1 {
  font-size: 50px;
  font-family: "Georgia", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
}

.btn_home {
  color: #121013;
  background-color: #fff;
  border: 1px solid #cdd0cb;
  padding: 20px 20px;
  border-radius: 10px;
  transition: 0.4s;
  font-size: 18px;
}

.btn_home:hover {
  color: #fff;
  background-color: #121013;
  border: 1px solid #121013;
  transition: 0.4s;
}

#adopt {
  border-bottom: 5px solid #cdd0cb;
}

.title {
  padding-top: 50px;
}

.phrasing {
  padding-top: 30px;
}

.explore {
  padding-top: 60px;
}

.flexbox {
  display: flex;
  
}