<div class="container">

  <div class="title">
    <h1>Petram</h1>
  </div>

  <div class="phrasing">
    <h2>Change your life, <span id="adopt">adopt a stone</span>.</h2>
  </div>

  <div class="explore">
    <%= link_to "Explore our stones", stones_path, class: "btn btn_home" %>
  </div>

</div>
