<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534870522852-adce96bc94f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Welcome to My Stone</h1>
    <p>Change your life, <span id="adopt">adopt a stone during the lockdown</span></p>
    <%= link_to "Explore our stones", stones_path, class: "btn btn-ghost" %>
  </div>
</div>

