.card-product {
    overflow: hidden;
    height: 200px;
    width: 800px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin: 10px;
  }

.card-product img {
  margin-left: 10px;
  border-radius: 2px;
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  right: 20px ;
  bottom: 15px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .avatar {
  height: 60px ;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border:1px solid white;
  position: absolute;
  right: 20px ;
  top: 15px;
}

.card-product a {
  text-decoration: none;
  color: black;
}

.card-product a:hover {
  text-decoration: none;
  color: darkgray;
}

.get-booked{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: right;
}

.booked{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}

.booking-cards{
  display: flex;
}

.card-trip {
  width: 600px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 200px;
  margin-left: 200px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 160px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.book h2 {
  margin-top: 30px;

}
