.card-product {
    overflow: hidden;
    height: 200px;
    width: 800px;
    background: white;
    border: 0.5px solid #cdd0cb;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin: 10px;
  }

.card-product img {
  margin-left: 10px;
  border-radius: 2px;
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 16px;
  margin: 0;
  position: absolute;
  right: 20px ;
  bottom: 15px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .avatar {
  height: 60px ;
  width: 60px;
  border-radius: 20%;
  object-fit: cover;
  border:1px solid white;
  position: absolute;
  right: 20px ;
  top: 15px;
}

.card-product a {
  text-decoration: none;
  color: #121013;
}

.card-product a:hover {
  text-decoration: none;
  color: #cdd0cb;
}

.get-booked{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: right;
}

.booked{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}

.booking-cards{
  display: flex;
}
