.carousel {
  border-radius: 5px;
  max-width: 300px;
  max-height: 500px;
}

.mini-carousel {
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
}

.booking-carousel {
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}