.form{
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.form a {
  text-decoration: none;
  color: black;
}

.form-actions{
  text-align: center;
}

.formsearch {
  margin-right: 720px;
  margin-left: 10px;
}
