.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#map {
  margin-top: 11px;
  margin-right: 12px;
  border-radius: 10px;
}

.map{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}