.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 0.6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home a {
  color: grey;
  text-decoration: none;
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-weight: lighter;
}

.navbar-home a:hover {
  color: black;
}
