.stone-name h2 {
  text-align:center ;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #222831;
  font-weight: lighter;
}

.stone-info {
    box-shadow: 0 0 15px rgba(218, 218, 218, 0.5);
    background-color: #fff;
    text-align: center;
    width: 160px;
    height: 60px;
    margin: 4px;
    border-radius: 10px;
    border: 0.5px solid #cdd0cb;
    padding: 6px;
}

.stone-info h4 {
    font-weight: lighter;
    font-size: 18px;
    color: #393e46;
}

.stone-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.description {
    margin-top: 20px;
}

.user-infos {
    border: 0.5px solid #cdd0cb;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.stone-description {
    border: 0.5px solid #cdd0cb;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 18px;
    margin-top: 18px;
    border-radius: 10px;
    text-align: center;
}
